@import '../../assets/css/vars.styl'

.col-timeslot
  display: block
  vertical-align: top
  padding: 10px
  // border-bottom: 1px solid $thirdPrimaryColor
  .col-timeslot-title
    position: relative
    width: 100%
    min-height: 30px
    font-size: 1.7rem
    margin-bottom: 10px
    padding: 0
    color: #fff
    // max-height: calc(100% - 8px)
