@import '../../assets/css/util.styl'
@import '../../assets/css/vars.styl'

.col-tab-list
  position: relative
  background-color: #fff
  border-radius: 5px
  margin-bottom: 10px
  transition: .1s ease
  &:hover
    cursor: pointer
    background-color: rgba(235, 235, 235, 1)
  .content
    padding: 10px
.title-input
  position: relative
  width: 100%
  border: none
  outline: none
  margin-bottom: 10px
  resize: none
  color: $secondPrimaryColor
  font-size: 1.3rem
  min-height: 15px
.tinned-item
  clearfix()
